<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-semibold" href="/" data-scroll>ADS-SJSU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navMain" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/about' ? 'active' : '' %>" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  