<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="h4 mb-3">Login</h1>
  
          <% if (msg) { %>
            <div class="alert alert-<%= msg.type %>"><%= msg.text %></div>
          <% } %>
  
          <form action="/login" method="POST" novalidate>
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input name="username" class="form-control" required placeholder="your role">  <!--ads_admin or student--> 
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control" required placeholder="your password"><!--"spartan123 or sjsu123"-->
            </div>
            <button class="btn btn-primary w-100" type="submit">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  